.advantages {
  background: #EFF2F9;
  padding-bottom: 170px;
  position: relative;
}

.advantages__header {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

.advantages__blocks {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

.advantages__block {
  background: #FFFFFF;
  box-shadow: 10px 8px 39px rgba(192, 192, 192, 0.25);
  padding: 18px 32px;
  display: flex;
  align-items: center;
  max-width: 700px;
  width: 100%;
  margin-right: 8px;
  margin-bottom: 8px;

  &__img {
    margin-right: 32px;
  }

  &__text {
    @include SemiBold();
    font-size: 24px;
    color: #181940;
  }
}

.advantages__frame {
  position: absolute;
  content: '';
  left: 3rem;
  bottom: -8rem;
  z-index: 100;
}

@media (max-width: 1440px) {
  .advantages__block {
    max-width: 580px;
  }
}

@media (max-width: 1200px) {
  .advantages__block {
    max-width: 100%;
  }

  .advantages__frame {
    img {
      width: 90%;
    }
  }
}

@media (max-width: 992px) {
  .advantages__block__img {
    max-width: 76px;
    width: 100%;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .advantages__header{
    max-width: 100%;
    width: 100%;
    margin: 0;
  }

  .advantages__frame {
    left: 1rem;
    bottom: -3rem;
    img {
      width: 70%;
    }
  }
}

@media (max-width: 576px) {
  .advantages {
    padding-bottom: 100px;
  }

  .advantages__header {
    text-align: start;
  }

  .advantages__block__text {
    font-size: 18px;
  }

  .advantages__frame {
    bottom: -4rem;
    img {
      width: 55%;
    }
  }
}